## Table of Contents

- [Data Wrangling + Cleaning](#Data-Wrangling-+-Cleaning)
- [Exploratory Data Analysis](#EDA)

In [1]:
#import all relevant Python libraries for the analysis

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

# Data Wrangling + Cleaning

1. Load the data into pandas dataframes
2. Assess each dataframe
3. Create relevant columnns for the analysis and remove any that may be irrelevant
4. Merge all dataframes for into one

In [2]:
# Loading in all five datasets into dataframes

#Account information dataframe
accounts_df = pd.read_csv('accounts.csv')

#Information on Products dataframe
products_df = pd.read_csv('products.csv')

#Information on each Sales Team dataframe
sales_teams_df = pd.read_csv('sales_teams.csv')

#Pipeline data for each oppurtunity in the CRM dataframe
sales_pipeline_df = pd.read_csv('sales_pipeline.csv')

#Metadata dataframe breaking down the column for all the dataframes above
metadata_df = pd.read_csv('metadata.csv')

In [3]:
# Inspecting the Accounts dataframe
accounts_df.head()

,account,sector,year_established,revenue,employees,office_location,subsidiary_of
0,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN
1,Betasoloin,medical,1999,251.41,495,United States,NaN
2,Betatech,medical,1986,647.18,1185,Kenya,NaN
3,Bioholding,medical,2012,587.34,1356,Philipines,NaN
4,Bioplex,medical,1991,326.82,1016,United States,NaN

In [4]:
# For the employees column, we want to categorize the employee size into the corresponding size category 

bins = [0, 750, 1500, 100000]
labels = ['SMB', 'Mid-Market', 'Enterprise']
accounts_df['size_category'] = pd.cut(accounts_df['employees'], bins = bins, labels = labels)

#Dropping column irrelevant to the rest of the project 
accounts_df.drop(columns=['year_established','subsidiary_of','employees'], inplace=True)
accounts_df.head()

            account     sector  revenue office_location size_category
0  Acme Corporation  technolgy  1100.04   United States    Enterprise
1        Betasoloin    medical   251.41   United States           SMB
2          Betatech    medical   647.18           Kenya    Mid-Market
3        Bioholding    medical   587.34      Philipines    Mid-Market
4           Bioplex    medical   326.82   United States    Mid-Market

In [5]:
# Inspecting the Products dataframe, no changes needed at this time
products_df.head()

        product series  sales_price
0     GTX Basic    GTX          550
1       GTX Pro    GTX         4821
2    MG Special     MG           55
3   MG Advanced     MG         3393
4  GTX Plus Pro    GTX         5482

In [6]:
# Inspecting the Sales teams dataframe, no changes needed at this time
sales_teams_df.head()

         sales_agent           manager regional_office
0      Anna Snelling  Dustin Brinkmann         Central
1     Cecily Lampkin  Dustin Brinkmann         Central
2  Versie Hillebrand  Dustin Brinkmann         Central
3    Lajuana Vencill  Dustin Brinkmann         Central
4        Moses Frase  Dustin Brinkmann         Central

In [7]:
# Inspecting the Sales Pipeline dataframe
sales_pipeline_df.head()

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0

In [8]:
#We want to understand how long each deal took to reach Closed Won status, so changing to datetime type to calculate duration
sales_pipeline_df['engage_date'] = pd.to_datetime(sales_pipeline_df['engage_date'])
sales_pipeline_df['close_date'] = pd.to_datetime(sales_pipeline_df['close_date'])#

#Calculate the duration of the sales cycle from prospecting to closed won, not applicable to deals not in Closed Won stage 
sales_pipeline_df['cycle_duration'] = sales_pipeline_df['close_date'] - sales_pipeline_df['engage_date'] 

# Summary stats for cycle duration
sales_pipeline_df['cycle_duration'].describe()

count                          6711
mean     47 days 23:38:58.310236924
std      41 days 01:23:02.227801968
min                 1 days 00:00:00
25%                 8 days 00:00:00
50%                45 days 00:00:00
75%                85 days 00:00:00
max               138 days 00:00:00
Name: cycle_duration, dtype: object

In [9]:
# Next we want to understand how each quarter performed overall, so we going to categorzie the close date into the quarter it took place
def quarter_close_pip(date):
    day = date.month
    year = str(date.year)
    if day in [1,2,3]:
        return 'Q1 ' +year
    elif day in [4,5,6]:
        return 'Q2 ' +year
    elif day in [7,8,9]:
        return 'Q3 ' +year
    elif day in [10,11,12]:
        return 'Q4 ' +year

sales_pipeline_df['quarter_close'] = sales_pipeline_df['close_date'].apply(quarter_close_pip)
sales_pipeline_df.head()

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value,cycle_duration,quarter_close
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0,132 days,Q1 2017
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514.0,137 days,Q1 2017
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0,133 days,Q1 2017
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0,135 days,Q1 2017
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0,128 days,Q1 2017

In [10]:
sales_pipeline_df['deal_stage'].unique()

array(['Won', 'Engaging', 'Lost', 'Prospecting'], dtype=object)

In [11]:
#Turn the deal stage into a categorical variable to perform summary stats later
sales_pipeline = ['Prospecting', 'Engaging', 'Lost', 'Won']
sales_pipeline_df['deal_stage'] = pd.Categorical(sales_pipeline_df['deal_stage'], sales_pipeline, ordered=True)

In [12]:
#Dropping column irrelevant to the rest of the project 
sales_pipeline_df.drop(columns=['engage_date','close_date'], inplace=True)

In [13]:
#Merging all four relevant dataframes into one
merge_1 = pd.merge(sales_pipeline_df, accounts_df, on="account")
merge_2 = pd.merge(merge_1, sales_teams_df, on="sales_agent")
df_sales_data = pd.merge(merge_2, products_df, on="product")
df_sales_data.head(10)

,opportunity_id,sales_agent,product,account,deal_stage,close_value,cycle_duration,quarter_close,sector,revenue,office_location,size_category,manager,regional_office,series,sales_price
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,1054.0,132 days,Q1 2017,retail,718.62,United States,Enterprise,Dustin Brinkmann,Central,GTX,1096
1,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,50.0,133 days,Q1 2017,retail,718.62,United States,Enterprise,Melvin Marxen,Central,MG,55
2,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,588.0,135 days,Q1 2017,software,2714.90,United States,Enterprise,Dustin Brinkmann,Central,GTX,550
3,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,517.0,128 days,Q1 2017,services,792.46,United States,Mid-Market,Summer Sewald,West,GTX,550
4,ZNBS69V1,Anna Snelling,MG Special,Ron-tech,Won,49.0,123 days,Q1 2017,medical,3922.42,United States,Enterprise,Dustin Brinkmann,Central,MG,55
5,9ME3374G,Vicki Laflamme,MG Special,J-Texon,Won,57.0,123 days,Q1 2017,retail,1388.67,United States,Enterprise,Celia Rouche,West,MG,55
6,7GN8Q4LL,Markita Hansen,GTX Basic,Cheers,Won,601.0,126 days,Q1 2017,entertainment,4269.90,United States,Enterprise,Celia Rouche,West,GTX,550
7,OLK9LKZB,Niesha Huffines,GTX Plus Basic,Zumgoity,Won,1026.0,122 days,Q1 2017,medical,441.08,United States,Mid-Market,Melvin Marxen,Central,GTX,1096
8,NL3JZH1Z,Anna Snelling,MG Special,Bioholding,Won,53.0,126 days,Q1 2017,medical,587.34,Philipines,Mid-Market,Dustin Brinkmann,Central,MG,55
9,S8DX3XOU,James Ascencio,GTX Plus Pro,Sunnamplex,Won,5169.0,126 days,Q1 2017,marketing,894.37,Poland,Enterprise,Summer Sewald,West,GTX,5482

In [14]:
#Checking for duplicate rows, none found
df_sales_data.duplicated().value_counts()

False    6117
Name: count, dtype: int64

In [15]:
#Checking for null values
df_sales_data.isnull().sum()

opportunity_id       0
sales_agent          0
product              0
account              0
deal_stage           0
close_value        553
cycle_duration     553
quarter_close      553
sector               0
revenue              0
office_location      0
size_category        0
manager              0
regional_office      0
series               0
sales_price          0
dtype: int64

In [16]:
# Seems data missing at the close value, quarter close, and cycle duration may be data missing structuctually since other deal stages not at Closed Won will not have this data filled
df_sales_data[df_sales_data['deal_stage'] == 'Won'].isnull().sum()

opportunity_id     0
sales_agent        0
product            0
account            0
deal_stage         0
close_value        0
cycle_duration     0
quarter_close      0
sector             0
revenue            0
office_location    0
size_category      0
manager            0
regional_office    0
series             0
sales_price        0
dtype: int64

In [17]:
#Check data types makes sense for each column
df_sales_data.dtypes

opportunity_id              object
sales_agent                 object
product                     object
account                     object
deal_stage                category
close_value                float64
cycle_duration     timedelta64[ns]
quarter_close               object
sector                      object
revenue                    float64
office_location             object
size_category             category
manager                     object
regional_office             object
series                      object
sales_price                  int64
dtype: object

# EDA

In [18]:
df_sales_data.describe(include='all')

,opportunity_id,sales_agent,product,account,deal_stage,close_value,cycle_duration,quarter_close,sector,revenue,office_location,size_category,manager,regional_office,series,sales_price
count,6117,6117,6117,6117,6117,5564.000000,5564,5564,6117,6117.000000,6117,6117,6117,6117,6117,6117.000000
unique,6117,30,6,85,4,NaN,NaN,4,10,NaN,15,3,6,3,3,NaN
top,1C1I7A6R,Anna Snelling,GTX Basic,Hottechi,Won,NaN,NaN,Q3 2017,retail,NaN,United States,Enterprise,Dustin Brinkmann,Central,GTX,NaN
freq,1,379,1563,175,3509,NaN,NaN,1679,1162,NaN,5077,4334,1311,2459,3545,NaN
mean,NaN,NaN,NaN,NaN,NaN,1167.317757,48 days 10:47:00.992092020,NaN,NaN,2452.836668,NaN,NaN,NaN,NaN,NaN,1886.640510
std,NaN,NaN,NaN,NaN,NaN,2178.548292,41 days 03:36:47.110311755,NaN,NaN,2579.883527,NaN,NaN,NaN,NaN,NaN,2592.142167
min,NaN,NaN,NaN,NaN,NaN,0.000000,1 days 00:00:00,NaN,NaN,4.540000,NaN,NaN,NaN,NaN,NaN,55.000000
25%,NaN,NaN,NaN,NaN,NaN,0.000000,8 days 00:00:00,NaN,NaN,646.100000,NaN,NaN,NaN,NaN,NaN,550.000000
50%,NaN,NaN,NaN,NaN,NaN,63.000000,47 days 00:00:00,NaN,NaN,1618.890000,NaN,NaN,NaN,NaN,NaN,1096.000000
75%,NaN,NaN,NaN,NaN,NaN,1116.250000,85 days 00:00:00,NaN,NaN,2952.730000,NaN,NaN,NaN,NaN,NaN,3393.000000
max,NaN,NaN,NaN,NaN,NaN,30288.000000,138 days 00:00:00,NaN,NaN,11698.030000,NaN,NaN,NaN,NaN,NaN,26768.000000